<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.glt.server.mapper.AdminmailboxMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.glt.server.pojo.Adminmailbox">
        <id column="id" property="id" />
        <result column="sender" property="sender" />
        <result column="sendType" property="sendType" />
        <result column="createTime" property="createTime" />
        <result column="sendName" property="sendName" />
        <result column="topic" property="topic" />
        <result column="content" property="content" />
        <result column="type" property="type" />
        <result column="state" property="state" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, sender, sendType, createTime, sendName, topic, content, type, state
    </sql>

</mapper>
